@import url('https://fonts.googleapis.com/css?family=Nunito|Nanum+Gothic|Quicksand:700|Mada|PT+Sans:700');

/*General rules*/
html {
    height: 100%;
    font-family: 'Work-Sans', sans-serif;
    background-image: url(img/paw-print.jpg);
    background-repeat: repeat;
}

body {
    margin: 0 auto;
    font-family: 'Work-Sans', sans-serif;

}

article {
    margin: auto;
}

section {
    margin: 50px;
}

h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    color: crimson;
    text-align: center;
}

h2 {
   font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    margin: 10px;
    padding: 0;
    color: #B01034;
    text-align: center;
    line-height: 40px;
}

.logo h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    height: 40px;
    align-content:center;
    position:absolute;
}

h3 {
    font-family: 'Mada', sans-serif;
    font-size: 50px;
    margin: 0;
    color: #fff;
    letter-spacing: 4px;
    max-width: 100%;
    text-align:center;
}

h4 {
    font-size: 30px;
    color: #fff;
    text-align: left;
    bottom: 8px;
    left: 5%;
    position: absolute;
    width: 90%;
    margin-bottom: 0;
}

h5 {
    font-family: 'Nanum Gothic', sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 5px;
    color: #4d4e4f;
    text-align: center;
}

p {
    font-family: 'Nunito', sans-serif;
    font-size: 27px;
    color: #4d4e4f;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

/*A 6 column grid on a CSS Grid is used through out this website with seperate settings for different sections*/

.head-banner {
    border-bottom: 1px solid #dcdcdc;
    background-color: #fff;
    height: 60px;
    border-bottom: 1px solid #888;
}

/*main content wrappers*/
.head-banner-content {
    /*using the repeat function ensures the setting is applied to all rows within the grid system*/
    grid-template-columns: repeat(12, 1fr);
    /*minmax function ensures each row is set at 150px but is not restricted to this and can expand depending on the content*/
    grid-auto-rows: minmax(150px, auto);
    display: grid;
    max-width: 100%;
    margin: 0 auto;
    height: 70px;
    /*overall height of the nav bar*/

}

/*Navigation Area*/

.logo {
    grid-column: 3/6;
    /*implementing the logo to be in columns 1 - 3 assures its pushed to the left removing the outdated float method*/
    line-height:50px;
    max-height:50px;
}

/*menu icon styling*/
.hamburger-menu {
    position: absolute;
    /*displays in its position one activted*/
    line-height: 30px;
    /*same as the nav line height*/
    display: grid;
    grid-column: 1;
    grid-row: 1;
}

.burger-button a:focus {
    /*using the focus pseudo class on the menu icon, alerts the user that the icon is clicked*/
    outline: none;
}

.burger-button {
    background: none;
    color: black;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    /*fixed bug originally there was no pointer*/
    outline: inherit;

}

/*Mobile navaigation functionality*/
/*whilst in desktop view the menu icon is hidden*/

.mobile-menu {
    display: flex;
    /*this display function is not a repeat. it has a different context and enables the toggle feature in voice JS*/
    flex-wrap: wrap;
    display: none;
}

/*mobile navigation-style*/

#mobile-navigation {
    overflow: auto;
    position: absolute;
    /*displays absolubly over the main banner image section*/
    z-index: 999999;
    /*enables the over lay as it has a higher z index in the dom*/
    margin-top: 60px;
    /*to display the menu underneath the banner*/
}

#mobile-navigation a {

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100vw;
    background-color: lightgrey;
    color: #fff;
    text-align: center;
    font-size:28px;
    text-decoration: none;
    border-bottom: 1px solid #87cefa;
    padding: 5px;
    height: 90px;
    justify-content: center;
    align-content:center;
}


/*Desktop navigation link styles*/
.nav {
    grid-column: 7/13;
    /*implementing the logo to be in columns 3-7 assures its pushed to the left removing the outdated float method(even though its set to 6 columns, 7 is used to push the content past the grid gap and to the end of grid column 6*/
    grid-row: 1;
    max-height:50px
}

.nav ul {
    list-style: none;
    /*removes the lists bullet points*/
    padding: 0;
    margin: 0;
}

.nav li {
    float: left;
    padding:15px;
    /*the nav is set to display grid, however list items can not have these settings and float was implicated*/
    font-family: 'Cantrell', 'sans-serif';
    font-size: 20px;
    line-height: 30px;
    height:30px
}

.nav a:visited {
    /*to enhance usabilitya decision was made to include the visited feature to remind the user over visited pages*/
    text-decoration: none;
    color: lightskyblue;
}

.nav a {
    text-decoration: none;
    color: black;
    display: block;
    transition: .3s background-color;
    /*adds a 3second transition on hover*/
}

.nav a:hover {
    background-color: white;
    color: #707070;
    text-decoration: underline;

}
.banner{
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ),url(img/pexels-photo-275717-retouch.jpg);
    background-size: cover;
    background-position: center;
    justify-content:center;
    display:grid;
    height:60vh;
}
.banner-about{
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ),url(img/pexels-photo-banner.jpg);
    background-position: center;
    justify-content:center;
    display:grid;
    height:60vh;
    background-size: cover;
    background-position: center;
    justify-content:center;
    display:grid;
    height:60vh;
}
.banner-services{
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ),url(img/pexels-photo-1487665.jpeg);
    background-position: center;
    justify-content:center;
    display:grid;
    height:60vh;
    background-size: cover;
    background-position: center;
    justify-content:center;
    display:grid;
    height:60vh;
}
.banner-services{
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ),url(img/photo-1494947665470-20322015e3a8.jpg);
    background-position: center;
    justify-content:center;
    display:grid;
    height:60vh;
    background-size: cover;
    background-position: center;
    justify-content:center;
    display:grid;
    height:60vh;
}
.hero-wrapper{
    width: 100%;
    height: auto;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(150px, auto);
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
    align-items:center;
    justify-content:center;
}
.hero {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#content {
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(150px, auto);
    display: grid;
    max-width: 1500px;
    margin: auto;
    grid-gap: 10px;
}

#content div {
    padding: 30px;
}
#welcome-message{
    grid-column:1/-1;
    grid-row:1;
    background-color:#fff;
    padding-bottom:3em;
    padding:20px;
}
#offer1{
    background: linear-gradient(rgba(0, 0, 0, -0.4), rgba(0, 0, 0, 0.9)), url(img/young-pup-solo1.png) no-repeat center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    border-radius: 15px;
    grid-column: 1/7;
    grid-row: 2;
    margin: 0;
    padding: 20px;
    border:1px solid #4d4e4f
}
.contact img{
    grid-column:5/8;
    grid-row:3;
}
#services{
    grid-column:1/7;
    grid-row:3;
    background:#fff;
}
#services ul{
    font-family: 'Nunito', sans-serif;
    font-size: 27px;
    color: #4d4e4f;
    text-align: center;
    list-style:none;
}
/*about styles*/

#services-about{
    grid-column:1/-1;
    grid-row:2;
    background:#fff;
}
/*services styles*/
.special-offer{
    grid-column:3/6;
    grid-row:2;
}
#team{
    grid-column:1/-1;
    grid-row:3;
    background:#fff;
}
.social-icons{text-align:center}
#members{
    grid-template-columns: repeat(12, 1fr);
    /*minmax function ensures each row is set at 150px but is not restricted to this and can expand depending on the content*/
    grid-auto-rows: minmax(150px, auto);
    display: grid;
    max-width: 100%;
    /*A 960px margin was applied to enhance readability*/
    background-color:#fff;
    margin:20px;
    padding:40px;
    grid-column:1/-1;
    grid-row:4;
}
.member-one{
    grid-column:1/4;
    grid-row:1;
}
.member-two{
    grid-column:4/7;
    grid-row:1;
}
.member-three{
    grid-column:7/10;
    grid-row:1;
}
.member-four{

    grid-column:10/13;
    grid-row:1;
}
/*gallery styles*/
#gallery{
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(150px, auto);
    display: grid;
    max-width: 960px;
    margin: auto;
    grid-gap: 10px;
}
#gallery div{
    border-radius:40px;
}
.g1{
    background-image: url(img/dog-black-labrador-black-dog-162149.jpeg);
    background-repeat:no-repeat;
    background-size:cover;
    grid-column:1/3;
    grid-row:1;
      max-width:100%;
}
.g2{
    background-image: url(img/retouched.png);
    background-repeat:no-repeat;
    background-size:cover;
    grid-column:1/3;
    grid-row:2;
 max-width:100%;
}
.g3{
    background-image: url(img/photo-1531388185832-f111bb261e01.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    grid-column:5/-1;
    grid-row:1;
 max-width:100%;
}
.g4{
    background-image: url(img/pexels-photo-58997.jpeg);
    background-repeat:no-repeat;
    background-size:cover;
    grid-column:3/5;
    grid-row:1;
 max-width:100%;
}
.g5{
    background-image: url(img/dog-animal-pet-german-longhaired-pointer.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    grid-column:1/3;
    grid-row:3;
 max-width:100%;
}
.g6{
    background-image: url(img/pexels-photo-976924.jpeg);
    background-repeat:no-repeat;
    background-size:cover;
    grid-column:3/5;
    grid-row:2;
 max-width:100%;
}
.g7{
    background-image: url(img/pexels-photo-1487665.jpeg);
    background-repeat:no-repeat;
    background-size:cover;
    grid-column:3/5;
    grid-row:3;
 max-width:100%;
}
.g8{
    background-image: url(img/dog-young-dog-puppy-59965.jpeg);
    background-repeat:no-repeat;
    background-size:cover;
    grid-column:5/-1;
    grid-row:3;
 max-width:100%;
}
.g9{
    background-image: url(img/pexels-photo-264005.jpeg);
    background-repeat:no-repeat;
    background-size:cover;
    grid-column:5/-1;
    grid-row:2;
 max-width:100%;
}
/*contact page styles*/
#locations{
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(150px, auto);
    display: grid;
    max-width: 1000px;
    margin: auto;
    grid-gap: 10px;
}
.location-1{
    grid-column:2/4;
    grid-row:1;
}
.location-2{
    grid-column:4/6;
    grid-row:1;
}
.location-3{
    grid-column:2/4;
    grid-row:2;
}
.location-4{
    grid-column:4/6;
    grid-row:2;
}
.location-1 ul, .location-2 ul,.location-3 ul,.location-4 ul{
    list-style: none;
}
#customer-service ul {
    list-style:none;
        font-family: 'Nunito', sans-serif;
    font-size: 27px;
    color: #4d4e4f;
    text-align: center;
}
.form{
    max-width:500px;
    margin:2rem auto;
    border: 1px solid skyblue;
    padding: 2rem;
    background-image: url(img/paw-print.jpg);
    background-repeat: repeat;
    border-radius:10px;
    border:1px solid lightskyblue;
}
label{
    display:block;
    padding: 1rem;
    text-transform:uppercase;
    font-size:16px;
    
}
input, textarea{
    display:block;
    width:100%;
    border-radius:10px;
    background-color: lightgrey;
    border: 1px solid skyblue;
}
#sendBtn{
    border:0;
    background: violet;
    padding:.5rem;
    color:#fff;
    margin: 1rem 0;
    width:auto;
    text-transform: uppercase;
    cursor:pointer;
}
#sendBtn:hover{
    background:lightskyblue;
}
footer {
    border-top: 1px solid #dcdcdc;
    background-color: lightcyan;
    height: 250px;
    width:100%;
    position: absolute;
}

.footer-content {
    grid-template-columns: repeat(12, 1fr);
    /*minmax function ensures each row is set at 150px but is not restricted to this and can expand depending on the content*/
    grid-auto-rows: minmax(150px, auto);
    display: grid;
    max-width: 100%;
    /*A 960px margin was applied to enhance readability*/
    margin: 0 auto;
    height: 70px;
}
.business-hours{
    grid-column:2/6;
    grid-row:1;
}
.business-hours ul{
    list-style:none;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color: #4d4e4f;
    text-align: center;
}
.locations{
    grid-column: 5/9;
    grid-row:1;
}
.locations ul{
    list-style:none;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color: #4d4e4f;
    text-align: center;
}
.address{
    grid-column:9/11
}
.address ul{
    list-style:none;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color: #4d4e4f;
    text-align: center;
}

#mobile-naviagtion,
.mobile-menu,
.hamburger-menu {
    display: none;
}
@media only screen and (max-width: 935px) {
    .logo{justify-self:center}
    .nav{display:none;}
    /*Mobile nav stylings*/
    .hamburger-menu { display: block; float: left; margin: 16px; line-height: 30px;font-size: 28px;}
    .mobile-menu a{text-align: center;}
    .member-one{grid-column:5/9;grid-row:1}
    .member-two{grid-column:5/9;grid-row:2}
    .member-three{grid-column:5/9;grid-row:3}
    .member-four{grid-column:5/9;grid-row:4}
    .g1 {grid-column:1/-1;grid-row:1/3; max-width:100%;}
    .g2 {grid-column:1/7;grid-row:3/5; max-width:100%;}
    .g3 {grid-column:1/7;grid-row:5/7; max-width:100%;}
    .g4 {grid-column:1/7;grid-row:7/9; max-width:100%;}
    .g5 {grid-column:1/7;grid-row:9/11; max-width:100%;}
    .g6 {grid-column:1/7;grid-row:11/13; max-width:100%;}
    .g7 {grid-column:1/7;grid-row:13/15; max-width:100%;}
    .g8 {grid-column:1/7;grid-row:15/17; max-width:100%;}
    .g9 {grid-column:1/7;grid-row:17/19; max-width:100%;}

}
@media only screen and (max-width: 790px) {
    article{margin:10px;}
    section{margin:0;}
    #members{display: flex; flex-direction: column; }
    .locations-footer{display:none}
    .business-hours{grid-column:1/6}
    .address{grid-column:6/-1}
    #offer1 h3{font-size:30px;}
    #locations{display:flex;flex-direction: column;text-align:center}

}
@media only screen and (max-width: 410px) {
    .logo h2{font-size:20px;}
    .business-hours ul, .address ul{font-size:15px;}
  
}